
#download-status-button {
	-moz-image-region: rect(0, 108px, 18px, 90px);
}

#download-status-button > .toolbarbutton-icon {
	margin: 0pt !important;
	width: auto !important;
	height: auto !important;
}

#download-status-label {
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #404040;
}

#download-status-progress {
	margin: 1px 3px;
	border-radius: 4.5px;
	overflow: hidden;
}

#download-status-progress-bar {
	background-color: rgba(0, 255, 0, 0.4);
}
